<ion-header>
  <ion-toolbar  color="primary">
     <ion-back-button slot="start" defaultHref="/settings" text=""  icon="chevron-back-outline"></ion-back-button>
     <ion-title class="ion-text-center">Forum</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div hrbottom>
    <ion-label>
      <h1>Qritten by Cicero in 45 BC </h1>
    </ion-label>
    <ion-item lines="none">
      <ion-avatar><img src="assets/img/user2.jpg"/></ion-avatar>
      <ion-label>
          <p><b>Johnny</b> Annserd 11 m ago
          </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-text>
        <p>I must explain to you how all this mistaken idea of pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the tremely painful.</p>
      </ion-text>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding" likesBox>
      <ion-label>
        <span>
          <ion-icon name="heart"></ion-icon>  5,958
          <!-- <ion-icon name="heart-outline"></ion-icon> -->
        </span>
        <span ml5>
           1,200
        </span>
      </ion-label>
    </ion-item>
  </div>

  <div hrbottom>
    <ion-item lines="none">
      <ion-avatar><img src="assets/img/user3.jpg"/></ion-avatar>
      <ion-label>
          <p><b>Jane Cooper</b> Annserd 11 m ago
          </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-text>
        <p>I must explain to you how all this mistaken idea of pleasure.</p>
      </ion-text>
    </ion-item>
  </div>

  <div hrbottom>
    <ion-item lines="none">
      <ion-avatar><img src="assets/img/user5.jpg"/></ion-avatar>
      <ion-label>
          <p><b>Beck Russell</b> Annserd 11 m ago
          </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-text>
        <p>I must explain to you how all this mistaken idea of pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the tremely painful.</p>
      </ion-text>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
	<ion-item lines="none">
	    <ion-input placeholder="Comment....."></ion-input>
		<ion-button>
		    <ion-icon name="send"></ion-icon>
		</ion-button>
	</ion-item>
</ion-footer>