<ion-header>
    <ion-toolbar color="primary">
		<!-- <ion-back-button text="" icon="chevron-back-outline" slot="start" defaultHref="/getstarted">
		</ion-back-button> 	 -->
        <ion-title class="ion-text-center">Workout Selection</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div workoutsec>
	    <ion-row>
		    <ion-col size="6">
			    <div workout-img>
				    <img src="assets/img/workoutimg1.jpg" alt="" />
				    <div workout-content>
					    <h3>Steel Mace</h3>
						<p>14 Workouts</p>
						<ion-button routerLink="/program-abilities">Start</ion-button>
					</div>
				</div>
			</ion-col>
		    <ion-col size="6">
			    <div workout-img>
				    <img src="assets/img/workoutimg2.jpg" alt="" />
				    <div workout-content>
					    <h3>Kettlebell</h3>
						<p>2 Workouts</p>
						<ion-button routerLink="/program-abilities">Start</ion-button>
					</div>
				</div>
			</ion-col>
		    <ion-col size="6">
			    <div workout-img>
				    <img src="assets/img/workoutimg3.jpg" alt="" />
				    <div workout-content>
					    <h3>Primal Monility</h3>
						<p>9 Workouts</p>
						<ion-button routerLink="/program-abilities">Start</ion-button>
					</div>
				</div>
			</ion-col>
		    <ion-col size="6">
			    <div workout-img>
				    <img src="assets/img/workoutimg4.jpg" alt="" />
				    <div workout-content>
					    <h3>Functional Training</h3>
						<p>6 Workouts</p>
						<ion-button routerLink="/program-abilities">Start</ion-button>
					</div>
				</div>
			</ion-col>
		    <ion-col size="6">
			    <div workout-img>
				    <img src="assets/img/workoutimg1.jpg" alt="" />
				    <div workout-content>
					    <h3>Steel Mace</h3>
						<p>14 Workouts</p>
						<ion-button routerLink="/program-abilities">Start</ion-button>
					</div>
				</div>
			</ion-col>
		    <ion-col size="6">
			    <div workout-img>
				    <img src="assets/img/workoutimg2.jpg" alt="" />
				    <div workout-content>
					    <h3>Kettlebell</h3>
						<p>2 Workouts</p>
						<ion-button routerLink="/program-abilities">Start</ion-button>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
