<!--ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
    <div filtersec>
		<a closebtn href="javascript:void(0)" (click)="dismiss()"><ion-icon name="close-outline"></ion-icon></a>
		<div headsec>
			<h3>Filter</h3>
		</div>
		<div checkboxsec>
		    <ul>
			    <li>
					<label checkboxmn>
						<input type="checkbox">
						<span class="checkmark"></span>
						Legs
					</label>				
				</li>
			    <li>
					<label checkboxmn>
						<input type="checkbox">
						<span class="checkmark"></span>
						Quads
					</label>				
				</li>
			    <li>
					<label checkboxmn>
						<input type="checkbox">
						<span class="checkmark"></span>
						Hamstrings
					</label>				
				</li>
			    <li>
					<label checkboxmn>
						<input type="checkbox">
						<span class="checkmark"></span>
						Squat
					</label>				
				</li>
			    <li>
					<label checkboxmn>
						<input type="checkbox">
						<span class="checkmark"></span>
						Biceps
					</label>				
				</li>
			    <li>
					<label checkboxmn>
						<input type="checkbox">
						<span class="checkmark"></span>
						Triceps
					</label>				
				</li>
			    <li>
					<label checkboxmn>
						<input type="checkbox">
						<span class="checkmark"></span>
						lats Core
					</label>				
				</li>
			    <li>
					<label checkboxmn>
						<input type="checkbox">
						<span class="checkmark"></span>
						Abdominals
					</label>				
				</li>
			    <li>
					<label checkboxmn>
						<input type="checkbox">
						<span class="checkmark"></span>
						Shoulders
					</label>				
				</li>
			</ul>
		</div>
		<ion-button apply-btn expand="full" shape="round" (click)="dismiss()">Apply</ion-button>
		<ion-button clear-btn expand="full" shape="round">Clear</ion-button>
	</div>
</ion-content>
