<ion-header>
    <ion-toolbar color="primary">	
		<ion-back-button text="" icon="chevron-back-outline" slot="start" defaultHref="/tabs/workoutselection">
  		</ion-back-button> 	
        <ion-title class="ion-text-center">All Workout</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<ion-list>
		<ion-item lines="none" routerLink="/exercises">
			<ion-thumbnail slot="start">
				<img src="assets/img/workout-icon2.jpg" alt="" />				
			</ion-thumbnail>	
			<ion-label>
				<h4>High Knees Running In Place</h4>
			</ion-label>
			<span class="arrow-ri" slot="end" routerLink="/exercises"><ion-icon name="chevron-forward-outline"></ion-icon>  </span>
		</ion-item>
		<ion-item lines="none" routerLink="/exercises">
			<ion-thumbnail slot="start">
				<img src="assets/img/workout-icon1.jpg" alt="" />				
			</ion-thumbnail>	
			<ion-label>
				<h4>High Knee Walking In Place</h4>
			</ion-label>
			<span class="arrow-ri" slot="end" routerLink="/exercises"><ion-icon name="chevron-forward-outline"></ion-icon>  </span>
		</ion-item>
		<ion-item lines="none" routerLink="/exercises">
			<ion-thumbnail slot="start">
				<img src="assets/img/workout-icon3.jpg" alt="" />
			</ion-thumbnail>	
			<ion-label>
				<h4>Extended Side Angle Left Yoga</h4>
			</ion-label>
			<span class="arrow-ri" slot="end" routerLink="/exercises"><ion-icon name="chevron-forward-outline"></ion-icon>  </span>
		</ion-item>
		<ion-item lines="none" routerLink="/exercises">
			<ion-thumbnail slot="start">
				<img src="assets/img/workout-icon4.jpg" alt="" />
			</ion-thumbnail>	
			<ion-label>
				<h4>Dynamic Downward Dog Yoga</h4>
			</ion-label>
			<span class="arrow-ri" slot="end" routerLink="/exercises"><ion-icon name="chevron-forward-outline"></ion-icon>  </span>
		</ion-item>
		<ion-item lines="none" routerLink="/exercises">
			<ion-thumbnail slot="start">
				<img src="assets/img/workout-icon5.jpg" alt="" />
			</ion-thumbnail>	
			<ion-label>
				<h4>Bound Angle Forward Bend Yoga</h4>
			</ion-label>
			<span class="arrow-ri" slot="end" routerLink="/exercises"><ion-icon name="chevron-forward-outline"></ion-icon>  </span>
		</ion-item>
	</ion-list>
</ion-content>
