<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Activity Level</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div checkboxsec>
		<div checkboxlist>
			<div checkboxinner>
				<input type="radio" id="checkbox11"  name="checkbox" style="display:none"/>
				<label colorbg1 for="checkbox11"><img iconleft src="assets/img/beginner.png"> Beginner  <span checkboxbtn><ion-icon name="checkmark-outline"></ion-icon></span></label>
			</div>
			<div checkboxinner>
				<input type="radio" id="checkbox12"  name="checkbox" checked="true" style="display:none"/>
				<label colorbg2 for="checkbox12"><img iconleft src="assets/img/intermidiate.png"> Intermediate  <span checkboxbtn><ion-icon name="checkmark-outline"></ion-icon></span></label>
			</div>
			<div checkboxinner>
				<input type="radio" id="checkbox13"  name="checkbox" style="display:none"/>
				<label colorbg3 for="checkbox13"><img iconleft src="assets/img/expert.png"> Expert <span checkboxbtn><ion-icon name="checkmark-outline"></ion-icon></span></label>
			</div>
		</div>
    </div>
</ion-content>
<ion-footer>
    <ion-button routerLink="/uploadimage" color="primary"  shape="round" expand="full">
        Continue
    </ion-button>
</ion-footer>