<ion-header>
    <ion-toolbar color="primary">
		<ion-back-button text="" icon="chevron-back-outline" slot="start" defaultHref="/messages">
		</ion-back-button> 	
		<ion-item lines="none">
		    <ion-avatar>
		        <img src="assets/img/user6.jpg"/>
		        <span></span>
		    </ion-avatar>
			<ion-label>
			    <h2>Marc Stegen</h2>
			    <p>+155557777844</p>
			</ion-label>
		</ion-item>	
    </ion-toolbar>
</ion-header>
<ion-content>
	<div class="main_content_div">
		<span>
			<!-- For Right -->
			<div class="right_div">
				<div class="inner_div">
					<div rightBox>
						<span><img src="assets/img/checkit.svg" /> 09:54 PM</span>

						<div class="msg_div">
							<ion-label>How’s the concept ?</ion-label>
						</div>
						
					</div>
				</div>
			</div>

			<!-- For Left -->
			<div class="left_div">
				<div class="inner_div">
					<div rightBox>
						<div class="msg_div">
							<ion-label>Yea... We need to discuss about it inperson!</ion-label>
						</div>
						<span>09:54 PM</span>	
					</div>
				</div>
			</div>

			<!-- For Left -->
			<div class="left_div">
				<div class="inner_div">
					<div rightBox>
						<div class="msg_div">
							<ion-label>Will catech up tomorrow at Wendy’s 9 in the morning... Goodnight & tc!</ion-label>
						</div>
						<span>09:54 PM</span>	
					</div>
				</div>
			</div>

			<!-- For Right -->
			<div class="right_div">
				<div class="inner_div">
					<div rightBox>
						<span><img src="assets/img/checkit.svg" /> 09:54 PM</span>

						<div class="msg_div">
							<ion-label>Bye ! Good night and tc !</ion-label>
						</div>
						
					</div>
				</div>
			</div>

		</span>
	</div>
</ion-content>
<ion-footer>
	<ion-item lines="none">
	    <ion-input placeholder="Text message..."></ion-input>
		<ion-button>
		    <ion-icon name="send"></ion-icon>
		</ion-button>
	</ion-item>
</ion-footer>