<ion-header>
  <ion-toolbar  color="primary">
     <ion-back-button slot="start" defaultHref="/tabs/settings" text=""  icon="chevron-back-outline"></ion-back-button>
     <ion-title class="ion-text-center">History</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div history>
    <div historyBox>
      <h3>August <span>8 Workouts</span></h3>
      <div historyContent>
        <h4>Chest, Shoulder, Biceps</h4>
        <h5>30 August</h5>
        <ul class="ulBox">
          <li>
            <span><ion-icon name="time-outline"></ion-icon> 1h 31m</span>
          </li>
          <li>
            <span><ion-icon name="barbell-outline"></ion-icon> 1,420 kg</span>
          </li>
          <li>
            <span><ion-icon name="trophy-outline"></ion-icon> 0 PRs</span>
          </li>
        </ul>
        <ion-row>
          <ion-col class="pl-0" size="8">
            <h4>Exercise</h4>
            <ul>
              <li>
                <span>4 x Bench Press</span>
              </li>
              <li>
                <span>4 x Shulder Press</span>
              </li>
              <li>
                <span>4 x Incline Bench Press</span>
              </li>
              <li>
                <span>3 x Lateral Bench Press</span>
              </li>
            </ul>
          </ion-col>
          <ion-col class="pr-0" size="4">
            <h4>Best set</h4>
            <ul>
              <li>
                <span>15 kg x 8</span>
              </li>
              <li>
                <span>11.25 kg x 8</span>
              </li>
              <li>
                <span>7.5 kg x 8</span>
              </li>
              <li>
                <span>5 kg x 8</span>
              </li>
            </ul>
          </ion-col>
        </ion-row>
      </div>

      <div historyContent>
        <h4>Legs</h4>
        <h5>26 August</h5>
        <ul class="ulBox">
          <li>
            <span><ion-icon name="time-outline"></ion-icon> 1h 31m</span>
          </li>
          <li>
            <span><ion-icon name="barbell-outline"></ion-icon> 1,420 kg</span>
          </li>
          <li>
            <span><ion-icon name="trophy-outline"></ion-icon> 0 PRs</span>
          </li>
        </ul>
        <ion-row>
          <ion-col class="pl-0" size="8">
            <h4>Exercise</h4>
            <ul>
              <li>
                <span>4 x Bench Press</span>
              </li>
              <li>
                <span>4 x Shulder Press</span>
              </li>
              <li>
                <span>4 x Incline Bench Press</span>
              </li>
              <li>
                <span>3 x Lateral Bench Press</span>
              </li>
            </ul>
          </ion-col>
          <ion-col class="pr-0" size="4">
            <h4>Best set</h4>
            <ul>
              <li>
                <span>15 kg x 8</span>
              </li>
              <li>
                <span>11.25 kg x 8</span>
              </li>
              <li>
                <span>7.5 kg x 8</span>
              </li>
              <li>
                <span>5 kg x 8</span>
              </li>
            </ul>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>