<!--ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
	<div login>
	
		<div logo>
		    <img src="assets/img/logo.png"/>
		    <h1>Sign In To Continue</h1>
		</div>
	    <div formgroup>
		    <ion-item lines="none" class="ion-no-padding"> 
		 	    <ion-label position="stacked">Email</ion-label>
		 	    <ion-input type="email" placeholder="Enter  Email Address" value="johndeo@hotmail.com"> </ion-input>
		 	    <ion-icon slot="end" name="checkmark-outline"></ion-icon>
		    </ion-item>
	    </div> 
	    <div formgroup>
		    <ion-item lines="none" class="ion-no-padding"> 
			        <ion-label position="stacked">Password</ion-label>
			        <ion-input type="password" placeholder="Enter  Password" value="..............."> </ion-input>
			        <ion-icon slot="end" name="eye"></ion-icon>
		    </ion-item>
	    </div> 
	    <p forgotpwd><a href="javascript:void(0)" routerLink="/forgotpassword"> Forgot Your Password?</a></p>
	    <ion-button btn-login routerLink="/tabs/workoutselection" color="primary"  shape="round" expand="full">
		    Login
	    </ion-button>
	    <div socialicons>
		    <h2 signinwith>or Sign in With</h2>
		    <div sociallinks>
		        <ion-buttons><ion-icon name="logo-google"></ion-icon></ion-buttons>
		        <ion-buttons><ion-icon name="logo-facebook"></ion-icon></ion-buttons>
		    </div>
	    </div>
	    <p signuptext>Don’t have an account? <a href="javascript:void(0)" routerLink="/signup"> Sign Up</a></p>
	</div>
</ion-content>
