<ion-header>
    <ion-toolbar color="primary">	
		<ion-back-button text="" icon="chevron-back-outline" slot="start" defaultHref="/tabs/workoutselection">
  		</ion-back-button> 	
        <ion-title class="ion-text-center">Program Abilities</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
	<div program-abilities>
		<ion-card class="bg1">
			<ion-card-content>
			    <h3>Beginner</h3>
				<div content-sec>
					<ul>
						<li>14 Excercise</li>
						<li>44 Calories</li>
						<li>Total time: 15 minutes</li>
					</ul>
					<ion-button routerLink="/all-workout" slot="end">Try</ion-button>
				</div>
			</ion-card-content>
		</ion-card>
		<ion-card class="bg2">
			<ion-card-content>
			    <h3>Classic</h3>
				<div content-sec>
					<ul>
						<li>14 Excercise</li>
						<li>44 Calories</li>
						<li>Total time: 15 minutes</li>
					</ul>
					<ion-button routerLink="/all-workout" slot="end">Try</ion-button>
				</div>
			</ion-card-content>
		</ion-card>
		<ion-card class="bg3">
			<ion-card-content>
			    <h3>ABS</h3>
				<div content-sec>
					<ul>
						<li>14 Excercise</li>
						<li>44 Calories</li>
						<li>Total time: 15 minutes</li>
					</ul>
					<ion-button routerLink="/all-workout" slot="end">Try</ion-button>
				</div>
			</ion-card-content>
		</ion-card>
		<ion-card class="bg4">
			<ion-card-content>
			    <h3>Complete</h3>
				<div content-sec>
					<ul>
						<li>14 Excercise</li>
						<li>44 Calories</li>
						<li>Total time: 15 minutes</li>
					</ul>
					<ion-button routerLink="/all-workout" slot="end">Try</ion-button>
				</div>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>
