<ion-header>
    <ion-toolbar color="primary">	
        <ion-title class="ion-text-center">Nutrition</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<ion-list>
		<ion-item lines="none" routerLink="/nutrition-details">
			<ion-thumbnail slot="start">
				<span>
					<img src="assets/img/nutritionimg1.jpg" alt="" />
				</span>				
			</ion-thumbnail>	
			<ion-label>
				<h4>Eggs with Bread</h4>
				<p>8 Serving . 120 Cal</p>
			</ion-label>
			<span class="arrow-ri" slot="end"><ion-icon name="chevron-forward-outline"></ion-icon>  </span>
		</ion-item>
		<ion-item lines="none" routerLink="/nutrition-details">
			<ion-thumbnail slot="start">
				<span>
					<img src="assets/img/nutritionimg2.jpg" alt="" />				
				</span>
			</ion-thumbnail>	
			<ion-label>
				<h4>Watercress Salad</h4>
				<p>8 Serving . 120 Cal</p>
			</ion-label>
			<span class="arrow-ri" slot="end"><ion-icon name="chevron-forward-outline"></ion-icon>  </span>
		</ion-item>
		<ion-item lines="none" routerLink="/nutrition-details">
			<ion-thumbnail slot="start">
				<span>
					<img src="assets/img/nutritionimg3.jpg" alt="" />
				</span>
			</ion-thumbnail>	
			<ion-label>
				<h4>Crab Ramen</h4>
				<p>8 Serving . 120 Cal</p>
			</ion-label>
			<span class="arrow-ri" slot="end"><ion-icon name="chevron-forward-outline"></ion-icon>  </span>
		</ion-item>
		<ion-item lines="none" routerLink="/nutrition-details">
			<ion-thumbnail slot="start">
				<span>
					<img src="assets/img/nutritionimg4.jpg" alt="" />
				</span>
			</ion-thumbnail>	
			<ion-label>
				<h4>Watercress Salad</h4>
				<p>8 Serving . 120 Cal</p>
			</ion-label>
			<span class="arrow-ri" slot="end"><ion-icon name="chevron-forward-outline"></ion-icon>  </span>
		</ion-item>
		<ion-item lines="none" routerLink="/nutrition-details">
			<ion-thumbnail slot="start">
				<span>
					<img src="assets/img/nutritionimg5.jpg" alt="" />
				</span>
			</ion-thumbnail>	
			<ion-label>
				<h4>Crab Ramen</h4>
				<p>8 Serving . 120 Cal</p>
			</ion-label>
			<span class="arrow-ri" slot="end"><ion-icon name="chevron-forward-outline"></ion-icon>  </span>
		</ion-item>
	</ion-list>
</ion-content>
