<ion-header>
    <ion-toolbar color="primary">
		<ion-back-button text="" icon="chevron-back-outline" slot="start" defaultHref="/tabs/nutrition">
		</ion-back-button> 	
        <ion-title class="ion-text-center">Nutrition Details</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div nutrition-detail-sec>
		<ion-card>
			<img src="assets/img/nutrition9.jpg" alt="" />
			<div nutritionplan>
			    <h3>Eggs with Bread</h3>
				<p>8 Serving ,120 Cal</p>
			</div>
		</ion-card>
		<div workout-content>
			<h2 main-head>Breakfast High Protein Berry Smooth Eggs with Bread Time!</h2>
			<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the tremely painful.</p>
		</div>
		<div nutrition-tagsec>
			<span>Calories : 322</span>
			<span>Fat : 165</span>
			<span>Protein : 16.2</span>
			<span>Carbohydrate : 60</span>
			<span>Cholesterol : 35</span>
		</div>
		<div nutritionplan-img>
			<h2 main-head>Ingredients</h2>
				<ion-slides pager="false" [options]="slideOpts">		
					<ion-slide>			
						<div workout-sec>
							<div workout-img>
								<img src="assets/img/nutrition6.jpg" alt="" />
							</div>
						</div>
					</ion-slide>	
					<ion-slide>			
						<div workout-sec>
							<div workout-img>
								<img src="assets/img/nutrition7.jpg" alt="" />
							</div>
						</div>
					</ion-slide>	
					<ion-slide>			
						<div workout-sec>
							<div workout-img>
								<img src="assets/img/nutrition8.jpg" alt="" />
							</div>
						</div>
					</ion-slide>			
				</ion-slides>		
		</div>		
	</div>
</ion-content>
