<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Messages</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div message-sec>
		<div class="search">
			<ion-searchbar placeholder="Search Here..."></ion-searchbar>
		</div>
		<ion-list>
			<ion-item lines="none" routerLink="/chat">
				<ion-avatar slot="start">
				    <img src="assets/img/user1.jpg" alt="" />
				</ion-avatar>
				<ion-label>
					<h4>Johnny</h4>
					<p>Many desktop publishing packages ...</p>
				</ion-label>
				<div date-sec slot="end">
				    <p>Yesterday 07:53 PM</p>
				</div>					
			</ion-item>	
			<ion-item lines="none" routerLink="/chat">
				<ion-avatar slot="start">
				    <img src="assets/img/user2.jpg" alt="" />
				</ion-avatar>
				<ion-label>
					<h4>Jane Cooper</h4>
					<p>Lorem Ipsum is that a more-or-less...</p>
				</ion-label>
				<div date-sec slot="end">
				    <p>Yesterday 07:53 PM</p>
				</div>					
			</ion-item>	
			<ion-item lines="none" routerLink="/chat">
				<ion-avatar slot="start">
				    <img src="assets/img/user3.jpg" alt="" />
				</ion-avatar>
				<ion-label>
					<h4>Beck Russell</h4>
					<p>Lorem Ipsum is that a more-or-less...</p>
				</ion-label>
				<div date-sec slot="end">
				    <p>13 Oct</p>
				</div>					
			</ion-item>	
			<ion-item lines="none" routerLink="/chat">
				<ion-avatar slot="start">
				    <img src="assets/img/user4.jpg" alt="" />
				</ion-avatar>
				<ion-label>
					<h4>Dianne Russell</h4>
					<p>Many desktop publishing packages ...</p>
				</ion-label>
				<div date-sec slot="end">
				    <p>12 Oct</p>
				</div>					
			</ion-item>	
			<ion-item lines="none" routerLink="/chat">
				<ion-avatar slot="start">
				    <img src="assets/img/user5.jpg" alt="" />
				</ion-avatar>
				<ion-label>
					<h4>Ander Howard</h4>
					<p>Many desktop publishing packages ...</p>
				</ion-label>
				<div date-sec slot="end">
				    <p>7 Oct</p>
				</div>					
			</ion-item>		
		</ion-list>		
	</div>
</ion-content>
