<ion-header>
  <ion-toolbar  color="primary">
     <ion-back-button slot="start" defaultHref="/tabs/settings" text=""  icon="chevron-back-outline"></ion-back-button>
     <ion-title class="ion-text-center">Notifications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
   
  <ion-item lines="none">
     <ion-avatar><img src="assets/img/user2.jpg"/></ion-avatar>
     <ion-label>
        <p><b>Andrew James</b> lorem ipsum
           dolor sit amet.
        </p>
     </ion-label>
     <ion-note slot="end">2 minutes ago</ion-note>
  </ion-item>
  <ion-item lines="none">
     <ion-avatar><img src="assets/img/user3.jpg"/></ion-avatar>
     <ion-label>
        <p><b>Jenny Brewer</b> sed do 
           tempor incididunt ut.
        </p>
     </ion-label>
     <ion-note slot="end">2 minutes ago</ion-note>
  </ion-item>
  <ion-item lines="none">
     <ion-avatar><img src="assets/img/user4.jpg"/></ion-avatar>
     <ion-label>
        <p><b>Michael Williams</b> ipsum
           dolor sit amet.
        </p>
     </ion-label>
     <ion-note slot="end">2 minutes ago</ion-note>
  </ion-item>
  <ion-item lines="none">
     <ion-avatar><img src="assets/img/user5.jpg"/></ion-avatar>
     <ion-label>
        <p><b>Johnson Charles</b> enim ad 
           minim veniam.
        </p>
     </ion-label>
     <ion-note slot="end">2 minutes ago</ion-note>
  </ion-item>
  <ion-item lines="none">
     <ion-avatar><img src="assets/img/user2.jpg"/></ion-avatar>
     <ion-label>
        <p><b>Andrew James</b> lorem ipsum
           dolor sit amet.
        </p>
     </ion-label>
     <ion-note slot="end">2 minutes ago</ion-note>
  </ion-item>
  <ion-item lines="none">
    <ion-avatar><img src="assets/img/user3.jpg"/></ion-avatar>
    <ion-label>
       <p><b>Jenny Brewer</b> sed do 
          tempor incididunt ut.
       </p>
    </ion-label>
    <ion-note slot="end">2 minutes ago</ion-note>
 </ion-item>
 <ion-item lines="none">
    <ion-avatar><img src="assets/img/user4.jpg"/></ion-avatar>
    <ion-label>
       <p><b>Michael Williams</b> ipsum
          dolor sit amet.
       </p>
    </ion-label>
    <ion-note slot="end">2 minutes ago</ion-note>
 </ion-item>
 <ion-item lines="none">
    <ion-avatar><img src="assets/img/user5.jpg"/></ion-avatar>
    <ion-label>
       <p><b>Johnson Charles</b> enim ad 
          minim veniam.
       </p>
    </ion-label>
    <ion-note slot="end">2 minutes ago</ion-note>
 </ion-item>
 <ion-item lines="none">
    <ion-avatar><img src="assets/img/user2.jpg"/></ion-avatar>
    <ion-label>
       <p><b>Andrew James</b> lorem ipsum
          dolor sit amet.
       </p>
    </ion-label>
    <ion-note slot="end">2 minutes ago</ion-note>
 </ion-item>
</ion-content>