<ion-header>
  <ion-toolbar  color="primary">
     <ion-back-button slot="start" defaultHref="/tabs/settings" text=""  icon="chevron-back-outline"></ion-back-button>
     <ion-title class="ion-text-center">Workout Progress</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

<img src="assets/img/Workout-Progress.png" />

<ion-list>
  <ion-item lines="none" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <span>
        <img src="assets/img/workout-icon2.jpg" alt="" />
      </span>				
    </ion-thumbnail>	
    <ion-label>
      <h4>High Knees Running
        In Place</h4>
    </ion-label>
    <ion-checkbox slot="end" checked></ion-checkbox>
  </ion-item>

  <ion-item lines="none" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <span>
        <img src="assets/img/workout-icon1.jpg" alt="" />
      </span>				
    </ion-thumbnail>	
    <ion-label>
      <h4>High Knees Running
        In Place</h4>
    </ion-label>
    <ion-checkbox slot="end" checked></ion-checkbox>
  </ion-item>

  <ion-item lines="none" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <span>
        <img src="assets/img/workout-icon3.jpg" alt="" />
      </span>				
    </ion-thumbnail>	
    <ion-label>
      <h4>High Knees Running
        In Place</h4>
    </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>

  <ion-item lines="none" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <span>
        <img src="assets/img/workout-icon4.jpg" alt="" />
      </span>				
    </ion-thumbnail>	
    <ion-label>
      <h4>High Knees Running
        In Place</h4>
    </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>

  <ion-item lines="none" class="ion-no-padding">
    <ion-thumbnail slot="start">
      <span>
        <img src="assets/img/workout-icon5.jpg" alt="" />
      </span>				
    </ion-thumbnail>	
    <ion-label>
      <h4>High Knees Running
        In Place</h4>
    </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>


</ion-list>

</ion-content>
