<ion-header>
   <ion-toolbar  color="primary">
     <!-- <ion-back-button text="" icon="chevron-back-outline" slot="start" defaultHref="/">
       </ion-back-button> 	 -->
     <ion-title class="ion-text-center">Settings</ion-title>
   </ion-toolbar>
 </ion-header>
 <ion-content class="ion-padding">
   <div settings>
      <ion-item lines="none" class="ion-no-padding" userinfo detail="false">
         <ion-avatar>
            <img src="assets/img/user5.jpg"/>
         </ion-avatar>
         <ion-label>
            <h2>Marc Stegen</h2>
            <p>andrewjames@gmail.com</p>
         </ion-label>
      </ion-item>
      <ion-item lines="none"  menulinks routerLink="/editprofile"  detail="false">
         <ion-label>
            <h2>My Profile</h2>
         </ion-label>
         <ion-buttons  slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
         </ion-buttons>
      </ion-item>
      <ion-item lines="none"  menulinks routerLink="/notifications"  detail="false">
         <ion-label>
            <h2>Notifications</h2>
         </ion-label>
         <ion-buttons  slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
         </ion-buttons>
      </ion-item>
      <ion-item lines="none"  menulinks routerLink="/forum"  detail="false">
         <ion-label>
            <h2>Forum</h2>
         </ion-label>
         <ion-buttons  slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
         </ion-buttons>
      </ion-item>
      <ion-item lines="none"  menulinks routerLink="/downloads"  detail="false">
         <ion-label>
            <h2>Downloads</h2>
         </ion-label>
         <ion-buttons  slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
         </ion-buttons>
      </ion-item>
      <ion-item lines="none"  menulinks routerLink="/favorite-exercises"  detail="false">
         <ion-label>
            <h2>Favourite</h2>
         </ion-label>
         <ion-buttons  slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
         </ion-buttons>
      </ion-item>
      <ion-item lines="none"  menulinks routerLink="/terms-conditions"  detail="false">
         <ion-label>
            <h2>Terms & Conditions</h2>
         </ion-label>
         <ion-buttons  slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
         </ion-buttons>
      </ion-item>
      <ion-item lines="none"  menulinks routerLink="/privacy-policy"  detail="false">
         <ion-label>
            <h2>Privacy Policy</h2>
         </ion-label>
         <ion-buttons  slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
         </ion-buttons>
      </ion-item>
      <!-- <ion-item lines="none"  menulinks routerLink="/scheduleexercise"  detail="false">
         <ion-label>
            <h2>Schedule Exercise</h2>
         </ion-label>
         <ion-buttons  slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
         </ion-buttons>
      </ion-item> -->
      <ion-item lines="none"  menulinks routerLink="/workoutprogress"  detail="false">
       <ion-label>
          <h2>Workout Progress</h2>
       </ion-label>
       <ion-buttons  slot="end">
          <ion-icon name="chevron-forward-outline"></ion-icon>
       </ion-buttons>
      </ion-item>
      
      <ion-item lines="none"  menulinks routerLink="/history"  detail="false">
       <ion-label>
          <h2>History</h2>
       </ion-label>
       <ion-buttons  slot="end">
          <ion-icon name="chevron-forward-outline"></ion-icon>
       </ion-buttons>
      </ion-item>
 
      <ion-item lines="none"  menulinks routerLink="/"  detail="false">
         <ion-label>
            <h2>Logout</h2>
         </ion-label>
         <ion-buttons  slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
         </ion-buttons>
      </ion-item>
   </div>
 </ion-content>